dieta.json
{
  "name": "MarombAI - Gerador de Dieta",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gerar-dieta",
        "authentication": "basicAuth",
        "options": {}
      },
      "id": "webhook-node-dieta",
      "name": "Webhook (Recebe Dados Dieta)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [460, 600],
      "credentials": {
        "httpBasicAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "MarombAI Backend Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent",
        "authentication": "none",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "COLE_SUA_API_KEY_AQUI"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "={{ [{'parts': [{'text': 'Você é o MarombAI, nutricionista esportivo de elite focado em performance. Crie um plano alimentar cientificamente embasado para: \\nNome: ' + $json.body.user.nome + '\\nPeso: ' + $json.body.user.peso + 'kg\\nObjetivo: ' + $json.body.perfil_dieta.objetivo + '\\nEstilo Alimentar: ' + $json.body.perfil_dieta.dieta + '\\nRestrições: ' + ($json.body.perfil_dieta.restricoes.length > 0 ? $json.body.perfil_dieta.restricoes.join(', ') : 'Nenhuma') + '\\n\\nDIRETRIZES TÉCNICAS:\\n1. Proteínas: Mantenha entre 1.8g a 2.2g por kg de peso corporal.\\n2. Hidratação: Calcule o consumo ideal (Peso x 35ml) e inclua no plano.\\n3. Estratégia: Identifique claramente quais refeições são o Pré-Treino e Pós-Treino.\\n4. Macros: Estime os macros totais diários.\\n\\nREGRAS OBRIGATÓRIAS:\\n1. Retorne APENAS um JSON válido. Sem markdown.\\n2. O campo \"kcal\" deve ser um número inteiro.\\n3. A estrutura DEVE ser exatamente esta:\\n{\\n  \"titulo\": \"Nome da Dieta\",\\n  \"objetivo\": \"...\",\\n  \"kcal\": 2500,\\n  \"macros_estimados\": { \"proteinas\": \"160g\", \"carbos\": \"300g\", \"gorduras\": \"70g\" },\\n  \"hidratacao\": \"3.2 Litros/dia\",\\n  \"refeicoes\": [\\n    {\\n      \"nome\": \"Café da Manhã\",\\n      \"horario\": \"08:00\",\\n      \"itens\": [\"...\"],\\n      \"obs\": \"Rico em fibras\"\\n    }\\n  ],\\n  \"ai_insight\": \"Explicação breve do porquê desta estratégia nutricional.\"\\n}' }]}] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-node-dieta",
      "name": "HTTP Request (Gemini)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 600]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst json = item.json;\n\nlet text = \"\";\n\n// 1. Tenta extrair o texto da resposta da IA\nif (json.candidates && json.candidates[0] && json.candidates[0].content && json.candidates[0].content.parts) {\n  text = json.candidates[0].content.parts[0].text;\n} else {\n  return { \n    dieta: null, \n    debug_error: \"O Google respondeu, mas a estrutura não contém 'candidates'.\", \n    resposta_bruta: json \n  };\n}\n\n// 2. Limpeza robusta para extrair apenas o bloco JSON\nconst jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\nlet jsonString = \"\";\n\nif (jsonMatch) {\n  jsonString = jsonMatch[0];\n} else {\n  return { \n    dieta: null, \n    debug_error: \"A IA gerou texto, mas não encontrei um bloco JSON válido (sem chaves {}).\", \n    texto_gerado: text \n  };\n}\n\n// 3. Tenta converter o texto limpo para um objeto\ntry {\n  const dietaObj = JSON.parse(jsonString);\n  \n  // Sucesso! Envolve o objeto na chave 'dieta' que o backend espera.\n  return {\n    dieta: dietaObj\n  };\n} catch (e) {\n  return { \n    dieta: null, \n    debug_error: \"Falha no JSON.parse. O texto da IA provavelmente tem um erro de sintaxe.\", \n    texto_problematico: jsonString \n  };\n}"
      },
      "id": "parser-node-dieta",
      "name": "Formatador JSON Dieta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 600]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "response-node-dieta",
      "name": "Responder ao Backend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 600]
    }
  ],
  "connections": {
    "Webhook (Recebe Dados Dieta)": {
      "main": [
        [
          {
            "node": "HTTP Request (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (Gemini)": {
      "main": [
        [
          {
            "node": "Formatador JSON Dieta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatador JSON Dieta": {
      "main": [
        [
          {
            "node": "Responder ao Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
